@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  background: linear-gradient(236.85deg, #041832 27.26%, #3468a7 96.03%);
  font-family: "Gluten", cursive;
}

.container {
  background: #ecf4ff;
  color:#1C1C1C
  margin: 64px;
  border-radius: 18px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.664);
  padding:60px
}

.cabecalho{
  display:flex;
  justify-content:space-between;
  
}

.perfil{
  display:flex;
  
}

.perfil-foto{
  border-radius: 20px;
  max-height:160px;
 
}

.titulo{
  margin-left: 16px;
}

.titulo h1 {
  font-width:700;
  font-size:36px;
}

.titulo h3 {
  font-width:400;
  font-size:24px;
  
}

.tema button{
  box-sizing: border-box;
  position: absolute;
  align-self: flex-end;
  font-size:24px;
  font-weight:28,13px;
  padding:8px 16px;
  background:#ECF4FF;
  border-radius: 100px;
}

.projetos{
  display:flex;
  flex-direction:column;
  align-items:left;
  background: #2c4583;
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42); 
  flex-direction: column;
  text-decoration: none;
  border-radius:20px;
  margin-top:32px;
  padding:32px;
}

.projetos h2{
border-radius:20px;
}
a { color: #808080; text-decoration: none; } 
a:hover { color:#808080; text-decoration:none; cursor:pointer; 
border-radius:20px
}


a h3:hover {
  color: #C71585;
}

.projetos-titulo{
  font-weight:100px;
  font-size:36px;
}

.projetos-item{
  list-style-type:none;
  font-size:34px;
  line-height:28,13px
}

.dark{
  background: linear-gradient(236.85deg, #375B86 27.26%, #6B87A9 96.03%);
  
}

.dark .container{
  background: #333439;
  color: #F7F7F7;
}

.dark .projetos{
  color: #1C1C1C;
}

.dark .tema button{
  color: #FFFFFF;
  background: #1C1C1C;
  border: 2px solid #F7F7F7;
}